.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-row {
  display: flex;
  border-bottom: 1px solid #ccc;
  align-items: center;
  height: 32px;
  min-height: 36px; 
  padding: 0 8px;
}
.mat-cell {
  display: flex;
  border-left: 1px solid #ccc;
  align-items: center;
  height: 32px;
  min-height: 36px; 
  padding: 0 8px;
} 
