
.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-row {
  display: flex;
   border-bottom: 1px solid rgb(212, 212, 212);
  align-items: center;
  height: 32px;
  min-height: 36px; 
  padding: 0 8px;
}

.mat-header-row {
  border-bottom: 1px solid rgb(255, 255, 255);
}

.mat-cell {
  display: flex;
  /* border-left: 1px solid #ccc; */
  align-items: center;
  height: 32px;
  min-height: 36px; 
  padding: 0 8px;
} 

.mat-header-cell {
  padding: 0 8px;
} 


.mat-column-select {
  flex: 0 0 20px;
}
