<div>
  <form>
    <div>
        <mat-form-field>
      <label for="status">Status</label>
      <input type="text" matInput  id="status" required> 
        </mat-form-field>
    </div>
    <!-- <div>
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required> 
    </div>
    <div>
      <label for="position">Position</label>
      <input type="text" class="form-control" id="position" required> 
    </div>
    <div>
      <label for="weight">Weight</label>
      <input type="text" class="form-control" id="weight" required> 
    </div>
    <div>
      <label for="symbol">Symbol</label>
      <input type="text" class="form-control" id="symbol" required> 
    </div> -->
    <button mat-button type="submit" >Submit</button>
  </form>
</div>

